html {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
body {
  width: 800px;
  margin: 0 auto;
  font-size: 1.1em;
}
h1, h2 {
  border-bottom: 1px solid lightgray;
}

#combination {
  border: 1px solid black;
  background-color: lightgray;
  margin: 1em auto;
  width: 600px;
  height: 240px;
  text-align: center;
}
#status {
  font-size: 38.4px;
  padding-top: 48px;
}
button {
  width: 75px;
  padding: 0.5em;
  margin-top: 1em;
}
